@model IEnumerable<ImageGallery.Models.Photo>

@{
    ViewData["Title"] = "Photo Page";
}

<div>
    <form method="post" asp-action="Upload" asp-controller="Photos" asp-route-kind="@ViewBag.Kind" asp-route-kindid="@ViewBag.KindId" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <input type="submit" value="Загрузить" />
    </form>
</div>

<div class="row col-md-12">
    @foreach (var item in Model)
    {
        <div class="row-image">
            @*@Html.DisplayNameFor(model => model.Name):*@
            <p>
                <span>@Html.DisplayFor(modelItem => item.Name)</span>
                <a class="glyphicon glyphicon-edit" asp-action="Edit" asp-route-id="@item.Id"></a> |
                <a class="glyphicon glyphicon-open" asp-action="Download" asp-route-id="@item.Id"></a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Детали</a> |*@
                <a class="glyphicon glyphicon-remove" asp-action="Delete" asp-route-id="@item.Id"></a>
            </p>
            @*@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(modelItem => item.Description)*@
            @if (item.Extension.ToLower() == "pdf")
            {
                <img id="Content" class="picture" title="@item.Description" src="~/images/pdf.gif" alt="Image" />
            }
            else
            {
                <img id="Content" class="picture" title="@item.Description" src="data:image/@item.Extension;base64,@Convert.ToBase64String(item.Content,0,item.Content.Length , Base64FormattingOptions.None)" alt="Image" />
            }
        </div>
    }
</div>
